.dark-transparent-background {
  background: rgba(38, 38, 41, 0.95);
}

.contacts-block {
  overflow-x: hidden;
  @media screen and (min-width: map_get($grid-breakpoints, 'lg')) {
    min-height: 100vh;
  }
}

.md-contacts-show {
  @media screen and (min-width: map_get($grid-breakpoints, 'lg')) {
    display: none !important;
  }
}

.contacts-center.contacts-map {
  width: 100%;
}
.contacts-font {
  font-size: 1.45rem;
  font-weight: 500;

}

.contacts-full-height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts-header {
  @media screen
  and (max-width: map-get($grid-breakpoints, "lg"))
  and (orientation: portrait) {
    padding-bottom: 3rem;
  }
}

.contacts-content {
  &>p {
    @media screen
    and (max-width: map-get($grid-breakpoints, "lg"))
    and (orientation: portrait) {
      font-size: 2rem;
      margin-bottom: 2rem;
      text-align: center;
    }

    // long mobile
    @media screen
    and (max-width: map-get($grid-breakpoints, "lg"))
    and (orientation: landscape) {
      font-size: 1.5rem;
    }
  }
}

.contacts-image {
  $habarites: 4.5rem;
  min-height: $habarites;
  max-height: $habarites;
}

.contacts-call {
  &.portrait-show {
    margin-bottom: 1.5rem;
    & a {
      font-size: 1.5rem;
    }
  }
}
