-
    var url = require('./../variables-for-templates').url

.landing-block.d-flex.flex-column.justify-content-center
    // todo: убрать дублирование кода
    .col-12.px-0.pt-5
        #LandingText.col-12.mx-auto.px-0.pt-5.mt-lg-0.mt-md-5
            h1.landing-content-font.col-lg-7.offset-lg-5.col-md-12.offset-md-0.mt-lg-0.mt-md-5.landing-text.px-0.text-uppercase.font-weight-normal.mb-0.pt-5
                | Рекламное
                | агентство&nbsp;
                br.mt-3
                span.landing-small-text полного цикла&nbsp;
            .landing-content-button.col-xl-3.col-lg-4.offset-5.pt-xl-0.pt-lg-0.pt-xl-1.mt-md-3.mb-lg-3.mb-xl-3.px-0
                a.reference-info.inverted.btn-block.lg-and-portrait-show.flex-row.justify-content-center.increase-font Скачать презентацию
                h2.landing-reference.px-0.text-uppercase.text-underline.text-black.md-and-landscape-show.flex-row.justify-content-center
                    | Скачать Презентацию
