-
    var url = require('./../variables-for-templates').url

.background-wrapper.d-flex.flex-row.justify-content-between.align-items-start.py-0
    //.background-99production.left
    //.background-99production.right
    .landing-bg